<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../error/css/error_500.css">
</head>

<body>

    <div class="page-404">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <!--BEGIN CONTENT-->
                    <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                    <span class="inner-status">¡Ups! ¡Error Interno del Servidor!</span>
                    <span class="inner-detail">Lamentablemente estamos teniendo problemas para cargar la página que estás buscando.<br>
                        Por favor, vuelve dentro de un rato.</span>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
</body>

</html>