<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Frijolitox</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="../../assets/css/owl.css">
    <link rel="stylesheet" href="../../assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/tienda_frijolitox/home" class="logo">
                            <img src="../../assets/images/logo.png" alt="" style="width: 100%; max-width: 64px; height: auto;"
                            >
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <div class="search-input">
                            <form id="search" action="/buscar_producto_tienda" method="GET">
                                <input type="text" placeholder="Buscar Producto" id='searchText' name="buscar_algo"
                                    onkeypress="handle" />
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                        
                        

                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/tienda_frijolitox/home" class="active">Home</a></li>
                            <li><a href="/tienda_frijolitox/productos">Productos</a></li>
                            
                            <li><a href="/tienda_frijolitox/carrito"><i class="fa fa-cart-shopping"></i></a></li>
                            
                            <% if (user) { %>
                                <li><a href="/tienda_frijolitox/perfil">Perfil </a></li>
                                <li><a href="/tienda_frijolitox/nuevo_producto">Crear producto </a></li>
                                <li><a href="/tienda_frijolitox/cerrar_sesion"> Logout </a></li>
                            <% }
                            else { %>
                                <li><a href="/tienda_frijolitox/login"> Login </a></li>
                                <li><a href="/tienda_frijolitox/registro">Registrarme</a></li>
                            <% } %>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
</body>

</html>